@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #00eeff;
  --bg-color: #01090a;
  --second-bg-color: #323946;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.8rem;
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.05);
}

.navbar a {
  font-size: 1.9rem;
  color: var(--text-color);
  margin-left: 2.5rem;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}
#menu-btn {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.home-img img {
  width: 25vw;
  border-radius: 20%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}

.home-img {
  width: 35vw;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3 span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

span {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-top: 2rem;
}

.btn:hover {
  box-shadow: none;
}

/* Responsiveness */
@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }
  .home {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    transition: 0.3s ease;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
    display: flex;
    white-space: nowrap;
  }

  .navbar.active {
    left: 0;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.2) translateY(-10px);
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about-img img {
  width: 25vw;
  border: 2px solid var(--main-color);
  border-radius: 20%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease;
}
.about-img img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}
.home-img img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}
.heading {
  font-size: 6rem;
  text-align: left;
}
.about-content {
  padding: 0 4rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 3rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00eeff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

/* Services Section Styling */
.services {
  background: var(--second-bg-color);
}

.services h2 {
  margin-bottom: 5rem;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--second-bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00eeff;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

span {
  color: var(--main-color);
}

/* Testimonial Section Styling */
.testimonial {
  background: var(--bg-color);
}

.testimonial-container {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 5rem;
}

.testimonial-box {
  background: var(--second-bg-color);
  padding: 3rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.testimonial-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.testimonial-box img {
  width: 15rem;
  height: 20rem;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  object-fit: cover;
  margin-bottom: 2rem;
  box-shadow: 0 0 25px var(--main-color);
}

.testimonial-box h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.testimonial-box p {
  font-size: 1.5rem;
  color: #ccc;
  line-height: 1.8;
  text-align: center;
}

/* Swiper Bullet Styling */
.swiper-pagination-bullet {
  background: var(--main-color) !important;
}
.testimonial-heading {
  margin-bottom: 5rem;
}
.testimonial-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.testimonial-box h2 {
  font-size: 3rem;
}
/*contact section code*/
.contact {
  padding-bottom: 7rem;
  background-color: var(--bg-color);
}
.contact.heading {
  text-align: center;
}
.contact h2 {
  margin-bottom: 3rem;
  text-align: center;
  color: var(--main-color);
}

.contact form {
  max-width: 80rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color); /* Match your text color */
  background: var(--bg-color); /* Match your theme background */
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  border: 0.25rem solid var(--main-color);
  resize: none;
}

.contact form .input-box input {
  width: 49%;
  margin: 0.7rem 0.35rem;
}

.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
}
/*Footer section code*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);
}
.footer .social-media {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}
.footer .social-media a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}
.footer .social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.2) translateY(-10px);
}
.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}
/*Responsive design code*/

@media (max-width: 1200px) {
  html {
    font: size 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3%;
  }
  .services {
    padding: 7rem;
  }
  .testimonial .testimonial-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 991px) {
  #menu-bars {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }
  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
  }
  .navbar.navbar.active {
    right: 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content {
    order: 2;
    margin-left: 1rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services h3 {
    margin-bottom: 3rem;
  }
}
@media (max-width: 617px) {
  .home-img {
    width: 70vw;
    margin-top: 8rem;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}
@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%; /* Menu starts off-screen */
    /* ... other styles ... */
    transition: 0.3s ease;
  }

  .navbar.active {
    left: 0; /* Menu slides in when active */
  }
}header {
    position: fixed; /* This keeps the menu button at the top always */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: var(--bg-color); /* Ensure it has a background so content doesn't bleed through */
}